<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="~/card/usercards" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Card Collection
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="~/deck" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Decks
                </p>
            </a>
        </li>
    </ul>
</nav>
