@{
    ViewData["Title"] = "Home Page of ADMIN Area.";
}

<div class="text-center">
    <h1 class="display-4">Wellcome, ADMIN, this is your area!</h1>
    <p>You can manage cards and Users from here.</a>.</p>

    <a asp-controller="User" asp-action="ManageUsers"
       class="btn btn-app bg-success">
        <span class="badge bg-purple"></span>
        <i class="fas fa-users"></i> Users
    </a>

    <a asp-controller="Card" asp-action="Index"
       class="btn btn-app bg-danger">
        <span class="badge bg-teal"></span>
        <i class="fas fa-inbox"></i>All Cards
    </a>

    <a asp-controller="Card" asp-action="Create"
       class="btn btn-app bg-secondary">
        <span class="badge bg-success"></span>
        <i class="fab fa-creative-commons-share"></i> Create Card
    </a>

    <a asp-controller="Card" asp-action="ManageCards"
        class="btn btn-app bg-warning">
        <span class="badge bg-info"></span>
        <i class="fas fa-toolbox"></i> Manage Cards
    </a>

</div>


