@{
    ViewData["Title"] = "Home Page of ADMIN Area.";
}

<div class="text-center">
    <h1 class="display-4">Wellcome, ADMIN, this is your area!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
