@using Card_Sanctum.Core.Models
@model UserEditViewModel
@{
    ViewData["Title"] = "User Edit";
}

<div class="row">
    <div class="col-4">
        <form id="edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="PatronimicName" class="form-label"></label>
                <input asp-for="PatronimicName" class="form-control" aria-required="true" />
                <span asp-validation-for="PatronimicName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Budget" class="form-label"></label>
                <input asp-for="Budget" class="form-control" aria-required="true" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="row">               
                <!-- /.col -->
                <div class="col-4">
                    <button id="login-submit" type="submit" style="margin-top: 10px" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
