@using Card_Sanctum.Core.Models
@model BoosterListViewModel
@{
}

<div class="row">
    <div class="col-4">
        <form id="create" method="post">
            <input type="hidden" name="Id" value="@Guid.NewGuid()" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Edition" class="form-label"></label>
                <input asp-for="Edition" class="form-control" aria-required="true" />
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>               
             <div class="form-floating">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>          
            <div class="row">               
                <!-- /.col -->
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}