@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" >Welcome to CardSanctum</h1>
</div>
<div class="text-center">
    <a asp-controller="Card" asp-action="Index"
       class="btn btn-app bg-info">
        <span class="badge bg-danger"></span>
        <i class="fab fa-accusoft"></i> Cards
    </a>

    <a class="btn btn-app bg-success">
        <span class="badge bg-purple">Under Construction</span>
        <i class="fas fa-gamepad"></i> Play Game
    </a>
</div>



